.Msg-page {
  overflow-x: hidden;
  width: 100% !important;
  background: #f9a826;
}

.MsgBoxContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 7em 10em 0 15em;
  width: 100%;
  overflow-x: hidden;
}

.MsgBoxContainer h1 {
  color: white;
  font-style: italic !important;
  font-weight: 700 !important;
}

.MsgBoxContainer p {
  color: white;
}

.MsgCarousel {
  width: 100%;
  padding-top: 16.5em !important;
  padding-left: 1em !important;
  border-radius: 1em;
  height: 65em;
}

.swiper-button-next,
.swiper-button-prev {
  transform: rotate(90deg);
  transform-origin: left center;
  color: black !important;
}

.swiper-button-prev {
  top: 1em !important;
  left: 95% !important;
}

.swiper-button-next {
  top: auto !important;
  bottom: 1em;
  left: 97% !important;
}

@media screen and (max-width: 600px) {
  .MsgBoxContainer {
    padding: 3em 4em;
  }
}

@media screen and (max-width: 768px) {
  .Msg-page {
    background: #2a0944;
  }
}
