.msg-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #000;
  border-top-left-radius: 290.053px;
  border-bottom-left-radius: 290.053px;
  border-top-right-radius: 290.053px;
  width: 90%;
  height: 210%;
  /* margin-left: 14em; */
  padding-right: 0 !important;
}

.msg-container .msg-image {
  width: 40%;
}

.msg-container .msg-text {
  padding: 3em;
  height: 10.25em;
  width: 60%;
  text-align: center;
  color: #fff;
}

.msg-container .msg-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 160%;
  column-gap: 1em;
}
.msg-buttons .msg-follow,
.msg-buttons .msg-more {
  border-radius: 2rem;
  background-color: #a12568;
}

@media screen and (max-width: 600px) {
  .msg-container .msg-buttons {
    display: flex;
    flex-direction: column;
    left: 50%;
  }
}

@media screen and (min-width: 600px) {
  .msg-container .msg-buttons {
    display: flex;
    flex-direction: column;
    left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .msg-container .msg-buttons {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 980px) {
  .msg-container .msg-buttons {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .msg-container .msg-buttons {
    left: 50%;
  }
}
