.ethics_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 150px;
  padding-left: 250px;
  /* gap: 80px; */
}
.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
  background-color: #000;
  padding: 0 50px;
  padding-bottom: 100px;
}
.arrows {
  margin-top: -125px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 50px;
  height: 250px;
}
.arrows > a {
  font-weight: bold;
  background-color: #a12568;
  padding: 30px 10px;
  clip-path: polygon(50% 100%, 100% 70%, 100% 0%, 0 0, 0 70%);
}
.vision > a {
  border: 3px solid #a12568;
  box-sizing: border-box;
  filter: drop-shadow(12px 12px 4px rgba(0, 0, 0, 0.25));
  border-radius: 90px;
  padding: 15px 30px;
  color: #a12568;
}
.donate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1300px;
  padding: 150px 20px;
  clip-path: polygon(
    0% 0%,
    20% 10%,
    80% 10%,
    100% 0,
    100% 100%,
    80% 90%,
    20% 90%,
    0% 100%
  );
  background-color: #a12568;
}
.donate > figure {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* background-color: #a12568; */
  padding: 20px;
  border-radius: 50px;
}
@media only screen and (max-width: 1000px) {
  .ethics_sec {
    padding: 50px 30px;
  }
}
@media only screen and (max-width: 800px) {
  .donate {
    flex-direction: column;
    clip-path: polygon(
      0% 0%,
      20% 2%,
      80% 2%,
      100% 0,
      100% 100%,
      80% 98%,
      20% 98%,
      0% 100%
    );
    padding: 150px 0px;
  }
}
