* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  border-width: 0;
  user-select: none;
}

/* some common classes for buttons */
.btn_yellow {
  height: 48px;
  width: 160px;
  color: black;
  font-size: 20px;
  background-color: #f9a825;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.397);
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_yellow:hover {
  background-color: #f9a825e8;
}
.btn_arrow {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 20px 15px 20px;
  aspect-ratio: 1/1;
}
.btn_arrow:hover {
  background-color: rgba(0, 0, 0, 0.637);
  color: white;
}

/* section 1 having navigation bar and img container with btns */
.front-sec {
  background-color: #3b185f;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* img and btns container */
.front-sec > figure {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)),
    url(../static/images/poverty1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.front-sec-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 30px;
}
.front-sec-cont > h2 {
  font-size: 4rem;
  text-align: center;
}
.front-sec-para {
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.front-sec-para > p {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.front-readMore {
  color: black;
  font-size: 1.2rem;
  background-color: #f9a825;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.397);
  border-radius: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

@media only screen and (max-width: 700px) {
  .front-sec-para > p {
    font-size: 1.5rem;
  }
  .front-sec > figure > h2 {
    font-size: 3.5rem;
  }
  .front-sec-para {
    width: 95%;
    gap: 20px;
  }
}
