.help-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 150px;
  padding-left: 250px;
  gap: 80px;
}
.help-sec > h2 {
  text-align: center;
  font-size: 3rem;
}
.help-sec-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  max-width: 1300px;
}
.help-sec-grid > figure {
  padding: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  border-radius: 100px;
  overflow: hidden;
  text-align: center;
}
.help1 {
  grid-column: 1/2;
  grid-row: 2 / span 2;
}
.help2 {
  grid-column: 2/3;
  grid-row: 1 / span 2;
}
.help3 {
  grid-column: 2/3;
  grid-row: 3 / span 2;
}
.help4 {
  grid-column: 3/4;
  grid-row: 2 / span 2;
}
@media only screen and (max-width: 1400px) {
  .help-sec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    max-width: 1300px;
  }
  .help1 {
    grid-column: 1/2;
    grid-row: 1 / 2;
  }
  .help2 {
    grid-column: 1/2;
    grid-row: 2 / 3;
  }
  .help3 {
    grid-column: 2/3;
    grid-row: 1 / 2;
  }
  .help4 {
    grid-column: 2/3;
    grid-row: 2 / 3;
  }
}
@media only screen and (max-width: 1000px) {
  .help-sec {
    padding: 50px 30px;
  }
}
@media only screen and (max-width: 650px) {
  .help-sec-grid {
    grid-template-columns: 1fr;
  }
  .help1 {
    grid-column: 1/2;
    grid-row: 1 / 2;
  }
  .help2 {
    grid-column: 1/2;
    grid-row: 2 / 3;
  }
  .help3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .help4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
