*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border-width: 0;
    user-select: none;
}

/* some common classes for buttons */
.btn_yellow{
    height: 48px;
    width: 160px;
    color: black;
    font-size: 20px;
    background-color: #F9A825;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.397);
    border-radius: 30px;    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_yellow:hover{
    background-color: #f9a825e8;
}
.arrow-left,
.arrow-right{
    height: 50px;
    width: 50px;
    color: black;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_arrow:hover{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
}



/* section 1 having navigation bar and img container with btns */
.front-sec{
    background-color: #3B185F;
    height: 105vh;
    width: 100%;
    display: flex;
}

    /* img and btns container */
    .front-sec>figure{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../static/images/poverty1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
    }
    .front-sec>figure>h2{
        font-size: 52px;
        margin-bottom: 14%;
    }
    .front-sec>figure>p{
        width: 100%;
        font-size: 30px;
        padding-right: 5%;
        font-weight: 700;
    }
    .front-sec>figure>div{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: 4% 0;
    } 

    .front-readMore{
        margin-left: 22%;
    }

  


@media screen and (min-height: 942px) {
    .btn_yellow{
        height: 58px;
        width: 184px;
    } 
    .front-sec{
        height: 100vh;
    }
    .front-readMore{
        margin-left: -5%;
        align-self: center;
        font-size: 22px;
    }
    .front-sec>figure>div{
        width: 95%;
    }  
    .arrow-left,
    .arrow-right{
        height: 70px;
        width: 70px;
        border-radius: 50px;
        font-size: 35px;
    }
}



@media screen and (max-width: 982px){
    .front-sec>figure{
        align-items: center;
        padding-left: 2%;
        padding-top: 100px;
        text-align: center;
    }
    .front-sec>figure>h2{
        font-size: 44px;
    }
    .front-sec>figure>p{
        padding: 0 5%;
        font-size: 25px;
    } 
    .btn_yellow{
        font-size: 16px;
    }
    .front-readMore{
        margin-left: 0;
    }
}
@media screen and (min-height: 942px) and (max-width:980px){
    .front-readMore{
        font-size: 22px;
    }
}
@media screen and (max-width: 610px){
    .front-sec>figure>h2{
        font-size: 38px;
    }
    .front-sec>figure>p{
        padding: 0 5%;
        font-size: 21px;
        font-weight: 600;
    } 
    .btn_yellow{
        font-size: 16px;
    }   
    .arrow-left,
    .arrow-right{
        font-size: 26px;
    }
}
@media screen and (min-height: 942px) and (max-width:610px){
    .front-readMore{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px){
    .front-sec>figure>h2{
        font-size: 35px;
    }    
    .front-sec>figure>p{
        font-size: 19px;
    } 
    .btn_yellow{
        width: 125px;
        height: 42px;
    }
}
@media screen and (min-height: 942px) and (max-width:480px){
    .front-readMore{
        font-size: 16px;
    }
}
@media screen and (max-width: 350px){
    .front-sec>figure>h2{
        font-size: 32px;
    }    
    .front-sec>figure>p{
        font-size: 16px;
    } 
    .btn_yellow{
        width: 116px;
        height: 41px;
    }
    .front-readMore{
        margin-top: 8%;
    }
}






