.footer_sec{
    height: 55vh;
    width: 100%;
    background-color: #2A0944;
    display: flex;
    justify-content: flex-end;
    padding: 4.5% 0;
}

.footer_sec>figure{
    width: 20%;
    height: 90%;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3%;
}

.footer_sec>figure>figcaption{
    font-size: 30px;
    letter-spacing: 2px;
    /* someone else is using positing absolute for figcaption in another component. 
    to make it default, static is being used here */
    position: static; 
}

.footer_sec>figure>button{
    color: #2A0944;
    box-shadow: 7px 5px black;
    font-size: 19px;
}

.footer_sec>figure:first-of-type{
    padding-top: 5.2%;
}


@media screen and (max-width: 1100px){
    .footer_sec>figure>p{
        font-size: 15px;
    }
    .footer_sec{
        justify-content: space-around;
    }
}
@media screen and (max-width: 990px){
    .footer_sec>figure>p{
        font-size: 15px;
    }
    .footer_sec>figure{
        width: 24%;
    }
    .footer_sec>figure>figcaption{
        font-size: 26px;
    }
}
@media screen and (max-width: 925px){
    .footer_sec>figure>p{
        font-size: 12px;
    }
    .footer_sec>figure>figcaption{
        font-size: 22px;
    }
}

@media screen and (max-width: 696px){
    .footer_sec{
        flex-direction: column;
        height: 100vh;
    }
    .footer_sec>figure{
        width: 70%;
    }
}
@media screen and (max-width: 546px){
    .footer_sec>figure{
        width: 86%;
    }
}



@media screen and (min-height: 942px) {
    .footer_sec>figure>p{
        font-size: 18px;
    }
    .footer_sec>figure>button{
        font-size: 22px;
    }
}