@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

.Journey-page .heading .title {
  padding: 1em 0 1em 4em;
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.Journey-page {
  overflow-x: hidden;
  background: #f9a826;
}
.journey-content .text-content .title {
  width: 90%;
  padding-top: 1em !important;
  color: #fff !important;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  align-self: center;
  text-justify: center;
}

.journey-content .text-content .image {
  margin-left: 0 !important;
  height: 5em;
  width: 5em;
}

.journey-timeline {
  margin-left: 17em !important;
}

.vertical-timeline-element-content {
  border-radius: 86px !important;
  box-shadow: 45px 24px 4px rgba(0, 0, 0, 0.25) !important;
}

.journey-timeline .journey-content-main {
  width: 85%;
}

.text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1em;
}

.journey-content {
  padding: 0 4em !important;
}

.date,
.journey-content,
#description {
  font-family: "Quicksand", sans-serif;
}

.date {
  font-size: 48px !important;
  opacity: 1 !important;
  padding-left: 1em !important;
}
