@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap");

.Journey-page .heading .title {
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.Journey-page {
  overflow-x: hidden;
  background: #f9a826;
}
.journey-content .text-content .title {
  width: 90%;
  color: #fff !important;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  align-self: center;
  text-justify: center;
}

.journey-content .text-content .image {
  margin-left: 0 !important;
  height: 5em;
  width: 5em;
}

.vertical-timeline-element-content {
  box-shadow: 45px 24px 4px rgba(0, 0, 0, 0.25) !important;
}

.journey-timeline .journey-content-main {
  height: fit-content;
}

.text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1em;
}

.journey-content {
  padding: 0 !important;
}

.date,
.journey-content,
#description {
  font-family: "Quicksand", sans-serif;
}

.date {
  font-size: 48px !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 600px) {
  .journey-timeline {
    margin-left: 0.35em !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 0.5em !important;
    font-size: 60px !important;
  }

  .journey-timeline .journey-content-main {
    width: 110%;
  }
  .vertical-timeline-element-content {
    border-radius: 53px !important;
  }
  .journey-content .text-content .title {
    padding-top: 0em !important;
    color: #fff !important;
  }
  .journey-content {
    padding: 0 !important;
    padding-right: 1em !important;
  }

  .date {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 600px) {
  .journey-timeline {
    margin-left: 10em !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 2.5em !important;
  }

  .journey-timeline .journey-content-main {
    width: 95%;
  }
  .vertical-timeline-element-content {
    border-radius: 53px !important;
    height: fit-content;
  }
  .journey-content .text-content .title {
    padding: 0 !important;
    padding-right: 2.5em !important;
    color: #ffffff !important;
  }
  #description {
    padding: 0em !important;
    padding-right: 7em !important;
  }
  .journey-content {
    padding: 0 !important;
  }
  .date {
    padding: 0 !important;
    padding-left: 1em !important;
  }
}

@media screen and (min-width: 768px) {
  .journey-timeline {
    margin-left: 10 !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 2.5em !important;
    font-size: 72px !important;
  }

  .journey-timeline .journey-content-main {
    width: 90%;
  }
  .vertical-timeline-element-content {
    border-radius: 53px !important;
    height: fit-content;
  }
  .journey-content .text-content .title {
    padding: 0.5em !important;
    padding-right: 2.5em !important;
    color: #ffffff !important;
  }
  #description {
    padding: 0.5em !important;
    padding-right: 4em !important;
    text-align: justify;
  }
}

@media screen and (min-width: 980px) {
  .journey-timeline {
    margin-left: 19em !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 4.5em !important;
  }

  .journey-timeline .journey-content-main {
    width: 80%;
  }
  .vertical-timeline-element-content {
    border-radius: 83px !important;
    height: fit-content;
  }
  .journey-content .text-content .title {
    padding: 0.5em !important;
    padding-right: 2.5em !important;
    color: #ffffff !important;
  }
  #description {
    padding: 1em !important;
    padding-right: 7em !important;
  }
}

@media screen and (min-width: 1200px) {
  .journey-timeline {
    margin-left: 12em !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 3em !important;
  }

  .journey-timeline .journey-content-main {
    width: 90%;
  }
  .vertical-timeline-element-content {
    border-radius: 53px !important;
    height: fit-content;
  }
  .journey-content .text-content .title {
    padding: 0.5em !important;
    padding-right: 2.5em !important;
    color: #ffffff !important;
  }
  #description {
    padding: 1em !important;
    padding-right: 3em !important;
  }
}

@media screen and (min-width: 1300px) {
  .journey-timeline {
    margin-left: 21em !important;
  }

  .Journey-page .heading .title {
    padding: 1em 0 1em 2.5em !important;
  }

  .journey-timeline .journey-content-main {
    width: 80%;
  }
  .vertical-timeline-element-content {
    border-radius: 83px !important;
    height: fit-content;
  }
  .journey-content .text-content .title {
    padding: 0.5em !important;
    padding-right: 2.5em !important;
    color: #ffffff !important;
  }
  #description {
    padding: 1em !important;
    padding-right: 5em !important;
  }
}
