.contact-us-form{
    background-color: #f9a826;
}

.ContactUsFormSection{
    text-align: center;
    padding: 5%;
    color: white;
    letter-spacing: 1.5px;
    background-image: url("indi.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.get-in-touch{
    text-align: center;
    color: white;
    padding: 3% 0 0;
    font-size: 42px;
}


.contact-us-form-container{
    /* background-color: white; */
    margin: 12% 12%;
    padding: 7%;
    border-radius: 20px;
}

.contact-us-title{
    padding: 0 0 5%;
}

.contact-us-para{
    color: white;
    padding: 10% 10% 5%;
    text-align: center;
    font-size: 30px;
}

.contact-form-group{
    padding:20px;
}

.MuiTextField-root{
    width: 70%;
    border-radius: 20px;
}

.MuiTextField-root::before{
    border-bottom: none;
}

.MuiTextField-root > label {
    background-color: 'red';
    color: 'red';
}

@media only screen and (max-width: 1000px) {
    .contact-us-para{
        margin-left: 20%;
    }
  }
