.gallery-page {
  background-color: #000;
}

.gallery-page h1 {
  color: white;
  font-size: 6em;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  padding-top: 12.5%;
  padding-left: 25%;
}
.gallery-container {
  color: #35373a;
}

.gallery-col-1 {
  padding: 2em;
}

.gallery-col-1 .gallery-row-1 {
  padding: 0 0.7em;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 1em;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 1.5em;
  padding: 1em;
  position: relative;
}

.baguetteBox-button {
  background-color: transparent !important;
}

/* .gallery-1 {
  height: 50em;
  width: 20em;
}

.gallery-1 img {
  height: 67%;
  background: url("https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg");
} */
