.Homepage {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  box-sizing: border-box;
  text-decoration: none;
  border-width: 0;
  text-align: justify;
  background-color: #3b185f;
}
