.m-navbar {
  width: 20vw;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 9, 68, 1);
  box-shadow: 45px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  color: #fff;
  padding-bottom: 2%;
  max-height: 90vh;
  max-width: 250px;
  min-width: 100px;
  padding-bottom: 4%;
}

.nav-up {
  width: 10vw;
  margin: auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  min-width: 80px;
  max-width: 150px;
}

.m-bar h6,
.m-dropdown h6 {
  font-family: Montserrat;
  font-style: normal;
  font-size: min(2.8vw, 5vh, 30px);
  color: white;
  font-weight: normal;
  text-decoration: none;
  margin: 5%;
}

.mobile-bar {
  display: flex;
}
.side-bar {
  width: 80vw;
}
.m-dropdown-content {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 79vw;

  gap: 5%;
  height: 10vw;
  background-color: rgba(249, 168, 37, 1);
}
.m-dropdown-content h6 {
  color: black;
  font-size: 3vw;

  padding: 5%;
}
.hidden {
  display: none;
}
.menuu {
  display: inherit;
  z-index: 9999999999999999;
  width: 5vw;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 505px) {
  .m-dropdown-content {
    width: 75vw;
  }
}

@media only screen and (max-width: 381px) {
  .m-dropdown-content {
    width: 73vw;
  }
}
