.NavigationBar {
  width: 20vw;

  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 9, 68, 1);
  box-shadow: 45px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 163px;
  border-bottom-right-radius: 163px;
  color: #fff;
  padding-bottom: 2%;
  max-height: 90vh;
  max-width: 250px;
  min-width: 100px;
  padding-bottom: 2%;
}

.NavigationBar > img {
  width: 10vw;
  margin: auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  min-width: 80px;
  max-width: 150px;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-content h6 {
  display: none;
}
.dropdown-content {
  position: absolute;
  top: -100%;
  left: 100%;
}

.dropdown {
  border: none;
  outline: none;
  color: black;
}

.navbar h6,
h6,
.dropdown h6,
.dropdown-content h6 {
  font-family: Montserrat;
  font-style: normal;
  font-size: min(2.4vw, 5vh, 30px);
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.dropdown:hover h6,
.navbar h6:hover {
  color: rgb(172, 172, 172);
}
.dropdown:hover > .dropdown-content h6 {
  display: inline-block;
  margin-left: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  width: 160%;
  padding: 5%;
  background: #f9a826;
  border-radius: 100px;
}

@media only screen and (max-width: 982px) {
  .NavigationBar > img {
    width: 2vw;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropup-content {
    display: none;
    z-index: 999;
  }

  .NavigationBar:hover .dropup-content {
    display: block;
  }
}
