.color {
  border-bottom: 2px solid rgb(172, 172, 172);
}
.NavigationBar {
  width: 20vw;
  text-align: center;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: rgba(42, 9, 68, 1);
  box-shadow: 45px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 163px;
  border-bottom-right-radius: 163px;
  color: #fff;
  padding-bottom: 2%;
  max-height: 90vh;
  max-width: 250px;
  min-width: 100px;
  padding-bottom: 2%;
}

.menu {
  display: none;
}

.NavigationBar > img {
  width: 10vw;
  margin: auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  min-width: 80px;
  max-width: 150px;
}

.navbar {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.dropdown-content h6 {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: -100%;
  left: 100%;
}

.dropdown {
  border: none;
  outline: none;
  color: black;
}

.navbar h6,
h6,
.dropdown h6,
.dropdown-content h6 {
  font-family: Montserrat;
  font-style: normal;
  font-size: min(2.4vw, 5vh, 30px);
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.dropdown:hover h6,
.navbar h6:hover {
  color: rgb(172, 172, 172);
}

.dropdown:hover > .dropdown-content h6 {
  display: inline-block;
  margin-left: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  width: 160%;
  padding: 5%;
  background: #f9a826;
  border-radius: 100px;
}

/* 
@media only screen and (max-width: 982px) {
  .menu {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .mobile-content {
    display: none;
    text-align: center;
  }
  .NavigationBar:hover .mobile-content {
    display: block;
  }

  .NavigationBar:hover > .menu {
    opacity: 0;
  }

  .NavigationBar {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .dropdown:hover > .dropdown-content {
    background-color: #f9a825;
    position: absolute;
    display: flex;
    padding: 14%;
    gap: 5%;
    width: 80vw;
  }
  .dropdown:hover > .dropdown-content h6 {
    margin-left: 0%;
    box-shadow: none;
    color: black;
    width: 160%;
    font-size: 2.7vw;
    padding: 0%;
    background: #f9a825;
    border-radius: 0px;
  }
  .dropdown-content h6:visited .dropdown-content h6 {
    background-color: red;
  }
  .a {
    top: -27vw;
    left: 15.5vw;
  }
  .b {
    top: -31vw;
    left: 13.8vw;
  }
  .c {
    top: -35vw;
    left: 16.8vw;
  }
  .d {
    top: -46.4vw;
    left: 14.8vw;
  }

  .nav-up {
    width: 20vw;
    margin: auto;
  }
} */
