.schoolForm{
    background: linear-gradient(180deg,#ffd05c, white);
    padding: 10% 0;
}

.schoolFormContainer{
    width: 70%;
    margin: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.schoolFormContainerHeader{
    padding: 5% 0;
}

.schoolFormContainerText{
    padding: 0 7% 5%;
}

.FormGroupContainer{
    padding: 10px;
}

.SkillsToContribute{
    text-align: left;
    padding: 6% 16%;
    color: gray;
    font-weight: 800;
}
