.main-school-form-section{
    background-color: #511c7a;
}

.join-us-school-form{
    text-align: center;
    color: white;
    padding-top: 3%;
}

.schoolFormContainerText{
    line-height: 35px;
    letter-spacing: 1.2px;
    padding: 7% 7% 20%;
    color: white;
}

.schoolForm{
    padding: 10% 0;
    background-image: url("indi.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.schoolFormContainer{
    width: 70%;
    margin: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.schoolFormContainerHeader{
    padding: 5% 0;
    color: white;
}

.FormGroupContainer{
    padding: 10px;
}

.SkillsToContribute{
    text-align: left;
    padding: 6% 16%;
    color: gray;
    font-weight: 800;
}

.tf1{
    padding: 10px;
}

.MuiInput-root {
    padding: 10px;
}