.facts{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 5% 3% 10%;
    justify-content: center;
}

.our-works-facts > h3{
    font-size: 40px;
    color: #2a0944,;
    text-transform: uppercase;
}

img{
    width: 100%;
}

.facts-text{
    text-align: left;
    padding-left: 5%;
    line-height: 30px;
}

li{
    list-style: linear-gradient(#E6DADA, #274046);
}