.individual-card{
    flex: 6;
    border: 1px solid white;
    background-color: rgb(39, 9, 95);
    color: white;
    margin: 5%;
    padding: 30px;
    border-radius: 10px;
}

.individual-card:hover{
    color: white;
    background-color: rgb(151, 119, 211);
}
