.know-more-section{
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    color: black;
    font-size: 25px;
    /* background-color: #ffd05c; */
    background-image: url('https://img.freepik.com/free-photo/painted-grey-background-with-metal-texture_125540-779.jpg?size=626&ext=jpg');
    border-radius: 30px;
    font-weight: bold;
    margin-left: 20%;
}

.know-more-title{
    font-size: 35px;
    font-weight: 700;
    color: black;
    padding: 5%;
    text-decoration: underline;
    text-decoration-color: #2a0944;
}

.know-more-introduction{
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

/* .know-more-card{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 1em;
} */

/* @media screen and (max-width: 900px){
    .know-more-card{
        display: unset;
    }
} */