.cards{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: black;
    font-size: 20px;
}

.know-more-title{
    font-size: 35px;
    font-weight: 700;
    color: black;
    padding: 5%;
    text-decoration: underline;
    text-decoration-color: tomato;
}

.introduction{
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

.card{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 1em;
}

@media screen and (max-width: 900px){
    .card{
        display: unset;
    }
}