.individual-card{
    flex: 6;
    border: 1px solid white;
    background-color: #ffd05c;
    margin: 12% 5% 0;
    padding: 30px;
    border-radius: 10px;
    line-height: 40px;
}

.know-more-heading{
    font-size: 35px;
}


.individual-card:hover{
    color: white;
    background-color: #2a0944;
}
