.individual-card{
    border: 1px solid white;
    background-color: #ffd05c;
    margin: 12% 5% 0;
    padding: 30px;
    border-radius: 10px;
    line-height: 40px;
    font-size: 20px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.know-more-heading{
    font-size: 40px;
}

.individual-card:hover{
    color: white;
    background-color: #2a0944;
}

.know-more-card-content{
    padding-left: 20%;
}
