.quote{
    padding: 10%;
    background: url('https://cdn.adf.org.au/media/images/crowded-street-yellow.2e16d0ba.fill-1524x683.jpg');
    background-size: cover;
    /* background: linear-gradient( #ffd05c, #2a0944); */
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    .quote-text{
        margin-left: 20%;
    }
  }