.weNeedYou{
    padding: 5% 20%;
    color: white;
}

.MuiAccordion-root{
    background-color: blueviolet;
    color: white;
}

.weNeedYouHeading{
    font-size: 50px;
    text-align: center;
    margin: 7% 0 12%;
}
