.whySakshamPage{
    text-align: center;
    color: white;
    line-height: 55px;
    font-size: 28px;
}

.why-saksham-heading{
    font-size: 40px;
    padding: 5% 0 0;
    color: white;
}

.help-someone-everyday{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 10px;
}

.sakshampageheader{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    padding: 5% 10%; 
}

.sakshampageheaderimage{
    border-radius: 50%;
}

.sakshampageheadertext{
    padding: 5px;
}

.helpSomeoneEveryday{
    margin-top: 100px;
    padding: 10% 10%;
    background: url('https://st3.depositphotos.com/4881653/16065/v/950/depositphotos_160659084-stock-illustration-happy-family-cartoon-vector-illustration.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: black;
    clip-path: polygon(0 30%, 32% 0, 100% 0, 100% 100%, 29% 100%, 0 70%);
}

.helpSomeoneEverydaySection{
    align-items: center;
}

.helpSomeoneEverydaySection > img{
    order: 2;
    width: 100%;
    border-radius: 20px;
}

.helpSomeoneEverydaySection > p{
    padding: 5%;
}

/* .helpSomeoneEveryday > img{
    transform: scale(0.7);
} */

.sakshamObjective{
    background: url('https://images.unsplash.com/photo-1603086694471-569df969973b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGFrZSUyMG15JTIwaGFuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size:cover;
    padding: 10% 10%;
    margin: 10% 0;
    border-radius: 30px;
}

.sakshamObjective > img{
    transform: scale(0.7);
}

.whoWeAreHeading{
    font-size: 60px;
    padding-bottom: 7%;
}

.whoweareimage{
    border-radius: 20px;
}


@media screen and (max-width: 700px){
    .sakshampageheader{
        grid-template-columns: 100%;
    }
    .sakshampageheaderimage{
        grid-row: 2;
    }
    .helpSomeoneEverydaySection{
        display: unset;
    }
}