.individual-form-page {
  background: #2a0944;
  height: fit-content;
  overflow-x: hidden;
}

.individual-form .form {
  width: 100%;
}

.form h3 {
  color: #fff;
}

.individual-form-page .individual-form {
  margin-top: 10em;
  background: url("./indi.png");
  background-size: cover;
  background-position: top;
  height: fit-content;
  padding: 4em;
}

.individual-form-page .individual-intro h2,
.individual-form-page .individual-intro p,
.individual-form-page .individual-form h1 {
  color: #fff;
}

.individual-form h1 {
  padding-top: 4em;
  padding-left: 10%;
  width: 100%;
}

.individual-form-page .individual-intro {
  padding: 5% 10% 0 10%;
  width: 100%;
}

.donationRow .basicInput {
  padding-left: 15em;
}

.food-donation {
  margin-top: -2.5em;
}

.individual-form .form h3 {
  font-size: 2rem;
  padding-left: 20%;
  font-weight: 700;
}

::placeholder {
  color: black !important;
}

.donationRow .individual-donation-button {
  margin-bottom: 1em;
  display: none;
  width: 9em;
  border-radius: 3em;
}

.individual-slide-in {
  animation: slide-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.food-slide-in,
.edu-slide-in,
.follow-slide-in {
  animation: sub-slide-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.food-slide-out,
.edu-slide-out,
.follow-slide-out {
  animation: sub-slide-out 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.individual-slide-out {
  animation: slide-out 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.donationFields,
.datePickerMeeting {
  background: #f9a826 !important;
  color: black !important;
  border-radius: 3em !important;
  height: 4em;
  width: 18em;
  border: 0.1em solid black;
}

.donationRow {
  padding: 1em;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(10em);
    transform-origin: translateX(10em);
  }
}

@keyframes sub-slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
    transform-origin: translateX(0em);
  }
}
@keyframes sub-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0em);
    transform-origin: translateX(0em);
  }
  100% {
    opacity: 0.5;
    transform: scale(0);
    transition: transform 0.5s;
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(10em);
    transform-origin: translateX(10em);
  }
  100% {
    opacity: 0.5;
    transform: scale(0);
    transition: transform 0.5s;
  }
}

.donation-label {
  color: white !important;
}

.donationLinks {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  width: 90%;
}

.individual-form .donation-form-button {
  margin-left: 25%;
  width: 22em;
  font-weight: 700;
}

.donationRow .food-submenu,
.donationRow .edu-submenu,
.donationRow .follow-submenu {
  margin-bottom: 1em;
  display: none;
  width: 10em;
  text-align: center;
  border-radius: 3em;
}
.donationRow .money {
  margin-top: -20em !important;
}

.donationRow .insta {
  margin-top: -5em !important;
}

.donationRow .electronics {
  margin-top: -10em !important;
}

.donationRow .follow-submenu {
  align-items: center;
  height: 3em;
}

@media screen and (max-width: 599px) {
  @keyframes sub-slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(10em, 3em);
      transform-origin: translate(10em, 3em);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(20em, 3em);
      transform-origin: translate(20em, 3em);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translate(20em, 3em);
      transform-origin: translate(20em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0) translate(20em, 0em);
      transform-origin: translate(20em, 0em);
    }
  }
  @keyframes sub-slide-out {
    0% {
      opacity: 1;
      transform: translate(10em, 3em);
      transform-origin: translate(10em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }

  .individual-form .form {
    margin-left: 20%;
  }
  .individual-form h1 {
    margin-left: 33%;
  }
  .individual-form .form h3 {
    padding-left: 0;
  }

  .donationFields {
    width: 15%;
  }

  .form .basicInput .basicInputControl {
    width: 95%;
  }

  .form .basicInput {
    padding-left: 0;
    margin-left: 0;
  }

  .individual-form .form .donation-form-button {
    margin-left: 10%;
    width: 15rem;
    margin-top: 83%;
  }

  .donationRow .main-donations .individual-collection-button {
    width: 10rem;
    overflow-wrap: break-word;
    height: 6rem;
    padding: 0.5rem;
    margin-left: 25%;
  }

  .individual-form-page .individual-intro {
    width: 100%;
    padding: 5% 10% 0 35%;
  }

  .form .donationLinks {
    flex-direction: column;
    row-gap: 0;
    justify-content: flex-start;
    margin-left: 1em;
  }

  .donationLinks .donation-list {
    margin-top: 40%;
    position: absolute;
    margin-left: 5%;
    z-index: 0;
  }

  .donationRow .main-donations {
    margin-left: -55%;
    z-index: 1;
  }
}
@media screen and (min-width: 600px) {
  .individual-form-page .individual-intro {
    padding: 5% 10% 0 30%;
  }

  .form .donationLinks {
    margin-left: -1em;
    padding-left: 0;
  }

  .individual-form h1 {
    padding-left: 45%;
  }
  .form .basicInput {
    padding-left: 0;
    margin-left: 30%;
  }
  .form .basicInput .basicInputControl {
    width: 60%;
  }

  .individual-form .donation-form-button {
    margin-top: -5em;
    margin-left: 35%;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10rem;
  }
  .form h3 {
    margin-left: 0em;
  }

  .individual-form .form .donation-form-button {
    margin-top: 2%;
  }
  .donationRow .main-donations .individual-donation-button {
    width: 10rem;
  }
  .donationRow .main-donations {
    margin-left: 30%;
  }
  .donationLinks .main-donations .individual-collection-button {
    width: 10rem;
    overflow-wrap: break-word;
  }
}
@media screen and (min-width: 768px) {
  .individual-form-page .individual-intro {
    padding: 5% 10% 0 35%;
  }

  .form .donationLinks {
    margin-left: 5em;
  }
  .individual-form .donation-form-button {
    margin-top: -5em;
    margin-left: 40%;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-left: 3em;
  }

  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }

  .individual-form .form .donation-form-button {
    margin-top: 2%;
  }
  .donationLinks .main-donations {
    margin-left: 15%;
  }
  .donationLinks .main-donations .individual-collection-button {
    width: 15em;
  }
}
@media screen and (min-width: 980px) {
  .individual-form-page {
    margin-left: 0em;
  }
  .individual-form h1 {
    margin-left: 5%;
  }

  .individual-form .form {
    margin-top: 10em;
  }

  .form .basicInput {
    margin-left: 20em;
  }
  .form .basicInput .basicInputControl {
    width: 60%;
  }
  .form .donationLinks {
    margin-left: 10em;
  }
  .individual-form .donation-form-button {
    margin-top: 0em;
    margin-left: 50%;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-top: 5rem;
    margin-left: 5%;
  }

  .individual-form .donationLinks {
    margin-left: 30%;
  }
  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }
}
@media screen and (min-width: 1001px) {
  .individual-form-page {
    margin-left: -20em;
  }
  .individual-form .form .donation-form-button {
    margin-left: 50%;
  }
}
@media screen and (min-width: 1460px) {
  .individual-form-page {
    margin-left: -20em;
  }
  .individual-form h1 {
    margin-left: 5%;
  }

  .individual-form .form {
    margin-top: 10em;
    margin-left: 25%;
  }

  .form .donationLinks {
    margin-left: 10em;
  }
  .individual-form .form .donation-form-button {
    margin-top: 0em;
    margin-left: 30%;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-top: 5rem;
    margin-left: 5%;
  }

  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }

  .form .basicInput {
    margin-left: 20%;
  }
  .form .basicInput .basicInputControl {
    width: 50%;
  }
}
@media screen and (min-width: 1600px) {
  .individual-form-page {
    margin-left: -23em;
  }
  .individual-form .form .donation-form-button {
    margin-left: 30%;
  }
}
@media screen and (min-width: 2210px) {
  .individual-form-page {
    margin-left: -24em;
  }
  .individual-form .form .donation-form-button {
    margin-left: 25%;
  }
}
@media screen and (min-width: 2454px) {
  .individual-form-page {
    margin-left: -28em;
  }
  .individual-form .form .basicInputControl {
    width: 30%;
  }
  .donationLinks .main-donations {
    margin-left: 20%;
  }
  .individual-form .form .donation-form-button {
    margin-left: 35%;
  }
  .donationLinks .main-donations .individual-collection-button {
    width: 30rem;
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(10em, 5em);
      transform-origin: translate(10em, 5em);
    }
  }

  @keyframes sub-slide-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(0em, 5em);
      transform-origin: translateX(0em, 5em);
    }
  }
  @keyframes sub-slide-out {
    0% {
      opacity: 1;
      transform: translate(0em, 5em);
      transform-origin: translate(0em, 5em);
    }
    100% {
      opacity: 0.5;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translate(10em, 5em);
      transform-origin: translate(10em, 5em);
    }
    100% {
      opacity: 0.5;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
}
@media screen and (max-width: 400px) {
  @keyframes sub-slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(5em, 3em);
      transform-origin: translate(5em, 3em);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(15em, 3em);
      transform-origin: translate(15em, 3em);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translate(15em, 3em);
      transform-origin: translate(15em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  @keyframes sub-slide-out {
    0% {
      opacity: 1;
      transform: translate(5em, 3em);
      transform-origin: translate(5em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  .main-donations .individual-donation-button {
    font-size: 10px;
    width: 10em;
  }
  .main-donations .edu-donation {
    padding-left: 2em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    font-size: 10px;
    width: 10em;
  }
}
@media screen and (min-width: 400px) and (max-width: 475px) {
  @keyframes sub-slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(10em, 5em);
      transform-origin: translate(10em, 5em);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(20em, 3em);
      transform-origin: translate(20em, 3em);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translate(25em, 3em);
      transform-origin: translate(25em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  @keyframes sub-slide-out {
    0% {
      opacity: 1;
      transform: translate(1-em, 5em);
      transform-origin: translate(10em, 5em);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  .main-donations .individual-donation-button {
    font-size: 13px;
    width: 10em;
  }
  .main-donations .edu-donation {
    padding-left: 2em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    font-size: 13px;
    width: 10em;
  }
}
@media screen and (max-width: 360px) {
  .individual-form h1 {
    padding-left: 0em;
  }
  .form .basicInput {
    padding-left: 0em;
    margin-left: 0em;
  }

  .form .donationLinks {
    margin-left: 0em;
  }
  .individual-form .form .donation-form-button {
    margin-top: 95%;
    width: 12rem;
  }
  .donationLinks .donation-list {
    margin-top: 40%;
    margin-left: -3em;
  }
}
