.individual-form-page {
  background: #2a0944;
  height: fit-content;
  overflow-x: hidden;
}

.individual-form .form {
  width: 100%;
}

.form h3 {
  color: #fff;
}

.individual-form-page .individual-form {
  margin-top: 10em;
  background: url("./indi.png");
  background-size: cover;
  background-position: top;
  height: fit-content;
  padding: 4em;
}

.individual-form-page .individual-intro h2,
.individual-form-page .individual-intro p,
.individual-form-page .individual-form h1 {
  color: #fff;
}

.individual-form h1 {
  padding-top: 4em;
  padding-left: 10em;
  width: 100%;
}

.individual-form-page .individual-intro {
  padding-left: 10em;
  width: 100%;
}

.donationRow .basicInput {
  padding-left: 15em;
}

.food-donation {
  margin-top: -2.5em;
}

.individual-form .form h3 {
  font-size: 2rem;
  padding-left: 5em;
  font-weight: 700;
}

::placeholder {
  color: black !important;
}

.donationRow .individual-donation-button {
  margin-bottom: 1em;
  display: none;
  width: 9em;
  border-radius: 3em;
}

.individual-slide-in {
  animation: slide-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.food-slide-in,
.edu-slide-in,
.follow-slide-in {
  animation: sub-slide-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.individual-slide-out,
.food-slide-out,
.edu-slide-out,
.follow-slide-out {
  animation: slide-out 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.donationFields,
.datePickerMeeting {
  background: #f9a826 !important;
  color: black !important;
  border-radius: 3em !important;
  height: 4em;
  width: 18em;
  border: 0.1em solid black;
}

.donationRow {
  padding: 1em;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(12em);
    transform-origin: translateX(12em);
  }
}

@keyframes sub-slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(24em);
    transform-origin: translateX(24em);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(12em);
    transform-origin: translateX(12em);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0) scale(0);
    transform-origin: translateX(0);
  }
}

.donation-label {
  color: white !important;
}

.donationLinks {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  width: 90%;
}

.individual-form .donation-form-button {
  margin-left: 9em;
  width: 22em;
  font-weight: 700;
}

.donationRow .food-submenu,
.donationRow .edu-submenu,
.donationRow .follow-submenu {
  margin-bottom: 1em;
  display: none;
  width: 10em;
  text-align: center;
  border-radius: 3em;
}
.donationRow .money {
  margin-top: -20em !important;
}

.donationRow .insta {
  margin-top: -5em !important;
}

.donationRow .electronics {
  margin-top: -10em !important;
}

.donationRow .follow-submenu {
  align-items: center;
  height: 3em;
}

@media screen and (max-width: 600px) {
  .individual-form h1 {
    padding-left: 2em;
  }
  @keyframes sub-slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(3em, 3em);
      transform-origin: translate(3em, 3em);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(0em);
      transition: transform 0.5s;
    }
    100% {
      opacity: 1;
      transform: translate(-3em, 3em);
      transform-origin: translate(-3em, 3em);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translate(-3m, 3em);
      transform-origin: translate(-3em, 3em);
    }
    100% {
      opacity: 0;
      transform: scale(0) translate(-3em, 0em);
      transform-origin: translate(-3em, 0em);
    }
  }

  .individual-form .form h3 {
    padding-left: 0;
  }

  .donationFields {
    width: 15%;
  }

  .form .basicInput .basicInputControl {
    width: 120%;
  }

  .form .basicInput {
    padding-left: 0;
    margin-left: -3em;
  }

  .individual-form .donation-form-button {
    margin-left: 0em;
    width: 100%;
  }

  .donationRow .individual-collection-button {
    width: 10rem;
    height: 6rem;
    padding: 0.5rem;
    margin-left: -4em;
  }

  .individual-form-page .individual-intro {
    width: 100%;
    padding: 1rem;
  }

  .form .donationLinks {
    flex-direction: column;
    row-gap: 0;
    justify-content: flex-start;
    margin-left: 1em;
  }
  .donationLinks .donation-list {
    margin-left: 6em;
    margin-top: -4em;
  }
}

@media screen and (min-width: 600px) {
  .individual-form-page .individual-intro {
    margin-top: 3em;
  }

  .form .donationLinks {
    margin-left: -1em;
    padding-left: 0;
  }

  .individual-form h1 {
    padding-left: 6em;
  }
  .form .basicInput {
    padding-left: 0;
    margin-left: 6em;
  }
  .individual-form .donation-form-button {
    margin-top: -5em;
    margin-left: 8em;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-left: 0em;
  }

  .individual-form .form .donation-form-button {
    margin-top: 2%;
  }
  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }
}
@media screen and (min-width: 768px) {
  .form .donationLinks {
    margin-left: 5em;
  }
  .individual-form .donation-form-button {
    margin-top: -5em;
    margin-left: 15em;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-left: 3em;
  }

  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }

  .individual-form .form .donation-form-button {
    margin-top: 2%;
  }
}

@media screen and (min-width: 980px) {
  .individual-form h1 {
    margin-left: 5em;
  }

  .individual-form .form {
    margin-top: 10em;
  }

  .form .basicInput {
    margin-left: 20em;
  }

  .form .donationLinks {
    margin-left: 10em;
  }
  .individual-form .donation-form-button {
    margin-top: 0em;
    margin-left: 15em;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-top: 5rem;
    margin-left: 5em;
  }

  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }
}

@media screen and (min-width: 1460px) {
  .individual-form h1 {
    margin-left: 30%;
  }

  .individual-form .form {
    margin-top: 10em;
    margin-left: 25%;
  }

  .form .basicInput {
    margin-left: 20em;
  }

  .form .donationLinks {
    margin-left: 10em;
  }
  .individual-form .donation-form-button {
    margin-top: 0em;
    margin-left: 15em;
  }
  .form .donationFields {
    width: 20em;
  }
  .donationRow .food-submenu,
  .donationRow .edu-submenu,
  .donationRow .follow-submenu {
    width: 10em;
  }
  .form h3 {
    margin-top: 5rem;
    margin-left: 5em;
  }

  .donationRow .main-donations .individual-donation-button {
    width: 10em;
  }
}

@media screen and (max-width: 360px) {
  .individual-form h1 {
    padding-left: 2em;
  }
  .form .basicInput {
    padding-left: 0em;
    margin-left: 0em;
  }

  .form .donationLinks {
    margin-left: -2em;
  }

  .donationLinks .donation-list {
    margin-top: 0;
  }
}
